<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数据表管理</title>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<base target="_blank" />
</head>

<body>
<div class="container">
<h1 class="text-center">表列表</h1>
</div>

<div class="container">
<table class="table table-striped">
<?php
 $dbName = C('DB_NAME');

 $result = M()->query("select table_name,table_comment from information_schema.tables where table_schema='".$dbName."' and table_type='base table'")
?>

    <volist id="vo" name="result">
    <tr>
        <td><a href="/home/{:parse_name($vo['table_name'],1)}/lists">  <?= $vo['table_comment'] ? $vo['table_comment'] : $vo['table_name'] ?>管理</a></td>
    </tr>
    </volist>
    
</table>
</div>
</body>
</html>