<!DOCTYPE html>
<html>
<head>
<title>添加接口</title>
<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container" >

    <table class="table table-bordered">
      <tr>
          <th>字段</th>
          <th>中文</th>
          <th>控件类型</th>
          <th>提示信息</th>
          <th>验证规则</th>
          <th>选项</th>
      </tr>
<volist id="vo" name="list">
    <tr>
      <td>{$vo.en_name}</td>
      <td>{$vo.name}</td>
      <td>{$vo.htmlType}</td>
      <td>{$vo.tips}</td>
      <td>{$vo.arrRules}</td>
      <td>{$vo.options}</td>
    </tr>
</volist>

  </table>

</div>

</body>
</html>